

  body {
    font-family: "Poppins";
    font-size: 13px;
    line-height: 23px;
    background-color: #FAFAFA;
  }
  
  .h1,
  h1 {
    font-size: 28px;
    line-height: 32px;
  }
  
  .h2,
  h2 {
    font-size: 23px;
    line-height: 28px;
  }
  
  .h3,
  h3 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -1px;
  }
  
  .h4,
  h4 {
    font-size: 17px;
    line-height: 21px;
  }
  
  .h5,
  h5 {
    font-size: 16px;
    line-height: 20px;
  }
  
  .h6,
  h6 {
    font-size: 13px;
    line-height: 16px;
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  