.activelink{
  
  a{
    color: #b0ff00;
    font-weight: bold;
  }
}

.banner{
  padding: 10px 0px;
}

.sub-widgets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.sub-widgets li {
  padding: 8px 30px;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
}

.btn-fellowship{
  cursor: pointer;
  padding: 10px 20px;
  background-color: #495057;
  color: $color-white;
}

.text-center{
  text-align: center;
  display: block;
}