#course_page{
    .single-course{
        background: #222;
        font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
        padding-top: 34px;
        padding-bottom: 60px;
        .course_title{
            font-size: 36px;
            line-height: 41px;
            color: #fff;
            margin-top: 21px;
            margin-bottom: 10.5px;
        }
        .course_headline{
            font-size: 20px;
            line-height: 27px;
            color: #fff;
        }
        .right-col_{
            &_content{
                background: #fff;
                position: absolute;
                width: calc(100% - 30px);
            }
            &_scroll{
                background: #fff;
                position: fixed !important;
                width: 350px;
            }
            &_module{
                background-color: #fff;
                box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
                border-radius: 4px;
                color: #505763;
                padding: 3px;
            }
            &_inner{
                padding: 15px 30px;
                .course_fee{
                    padding: 5px 0;
                    .current__fee{
                        span{
                            font-size: 36px;
                            white-space: nowrap;
                            color: #505763;
                            font-weight: 700;
                        }
                    }
                }
                .duration-container{
                    margin-bottom: -3px;
                    margin-top: 3px;
                    .duration{
                        display: flex;
                        font-size: 14px;
                        &__left{
                            color: #505763;
                            margin-right: 5px;
                        }
                        &__right{
                            display: flex;
                            align-items: flex-start;
                            width: 60%;
                            
                        }
                    }
                }
                .action_btns{
                    .btns{
                        margin-top: 12px;
                        margin-bottom: 12px;
                        .btn{
                            border-radius: 0 !important;
                            font-size: 15px;
                            line-height: 1.35135;
                            span{
                                float: left;
                            }
                        }
                    }
                }
                .target_group{
                    .group__list{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        .group__item{
                            padding: 3px;
                            .group__text{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .course_details{
        margin-bottom: 40px;
        .course{
            &__box{
                background-color: #f9f9f9;
                border: 1px solid #dedfe0;
                padding: 10px 15px;
                margin-top: 40px;
            }
            &__info{
                margin-bottom: 5px;
                h2{
                    font-size: 22px;
                    font-weight: 600;
                    margin: 0 0 10px;
                }
            }
            &_listing{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                .listing{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    width: 45%; 
                    &_icon{
                        align-self: flex-start;
                        color: #a1a7b3;
                        font-size: 16px;
                        margin-right: 15px;
                        margin-top: 2px;
                    }
                }
            }
            &__locations{
                margin-top: 40px;
                .location_details{
                    .heading_title{
                        font-size: 22px;
                        font-weight: 600;
                        margin: 0 0 10px;
                    }
                }
                .accordion{
                    .card{
                        border-radius: 0;
                        margin-top: 3px;
                        background: #f9f9f9;
                        border: 1px solid #e8e9eb;
                        &-header{
                            color: #505763;
                            background: transparent;
                            .acc_icon{
                                color: #007791;
                                margin-right: 10px;
                            }
                        }
                        .card-body{
                            &_item{
                                display: flex;
                                padding: 12px 30px 12px 43px;
                                background-color: #fff;
                                border: 1px solid #e8e9eb;
                                border-top: none;
                                color: #686f7a;
                                letter-spacing: .3px;
                                line-height: 1.33;
                                .left-content{
                                    display: flex;
                                    align-items: flex-start;
                                    align-self: center;
                                    width: 50%;
                                }
                                .item-details{
                                    display: flex;
                                    flex-wrap: wrap;
                                    width: 50%;
                                    font-size: 14px;
                                    .cover_item{
                                        display: flex;
                                        width: 100%;
                                        margin-bottom: 3px;
                                        .icon{
                                            display: flex;
                                            align-items: flex-start;
                                            width: 5%;
                                        }
                                    }
                                }
                            }
                            .branch{
                                background: #007791;
                                color: #fff;
                                &_text{
                                    text-align: center;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
            &__requirments{
                margin-top: 40px;
                .requirments{
                    &__title{
                        font-size: 22px;
                        font-weight: 600;
                        margin: 0 0 10px;
                    }
                    &__list{
                        list-style: disc;
                        padding-left: 10px;
                        margin-left: 10px
                    }
                    &__item{
                        margin-bottom: 10px;
                        font-size: 15px;
                    }
                }
            }
            &__description{
                margin-top: 40px;
                .description{
                    &__title{
                        font-size: 22px;
                        font-weight: 600;
                        margin: 0 0 10px;
                    }
                    p{
                        word-break: break-word;
                        margin: 0 0 10.5px;
                    }
                }
                
            }
        }
    }
}
