.card-body{
    .group-programme{
        background-color: #ebf1f3;
        border-radius: 10px;
        margin: 20px 30px;
        overflow: hidden;
        .gp{
            list-style: none;
            padding: 0;
            margin: 0;
            .per-prog{
                padding: 20px 50px;
                &:hover{
                    background-color: #dce1e2;
                }
                p{
                    margin: 0;
                }
            }
            .hrt{
                width: 100%;
                margin: 0;
            }
        }
    }
}

.card-bode{
    padding: 20px;
    .whole{
        h4{
            margin-top: 10px;
        }
        
        .holder{
            box-shadow: 0px 0px 5px #bfbfbf;
            padding: 6px;
            height: 230px;
            margin: 10px 0;
            
            .paraholder {
                position: absolute;
                bottom: 4%;
                width: 85%;

                p{
                    margin: 0;
                }
                hr{
                    margin: 6px;
                }
                
            }
            
        }
    }
}

@media only screen and (min-width: 1281px){
    .holder{
        height: 250px !important;
    }
}

@media only screen and (min-width: 1441px){
    .holder{
        height: 320px !important;
    }
}