.Postgraduate{
  
    .sub-widgets{
      #eduSubMenu{
        cursor: pointer;
      }
      .activelink{
        color: white; 
      }
      li{
        &:last-child{
          border-bottom: 1px solid rgba(0,0,0,.1);
        }
      }
      .sub-widgets-sub{
        display: none;
        li{
         &:last-child{
           border-bottom: none;
         }
        }
      }
    }
    .pg_courses{
        margin-block-start: 20px;
    }
}
#course-details{
    h2{
        font-weight: 600;
        color: #333333;
        span{
            font-weight: 400;
        }
    }
}
.pg_courses{
    h2{
        color: black !important;
        font-weight: 600;
        margin-block-end: 20px;
        span{
            font-weight: 400;
        }
    }
    .course_item{
        .course_pic{
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 20px;
            img{
                transform-style: preserve-3d;
                transition: .3s all ease-in; 
            }
            .course_deatils_btn {
                position: absolute;
                right: 5px;
                top: 25px;
                opacity: 0;
                visibility: hidden;
                transition: .3s all ease-in-out;
                a{
                    color: #ffffff;
                    font-weight: 500;
                    svg{
                        vertical-align: middle;
                    }
                }
            }
        }
        .course_item_text{
            .course_title{
                padding-block-end: 30px;
                position: relative;
                margin-top: 10px;
                h3{
                    color: #333333;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30px;
                    text-transform: uppercase;
                    text-indent: 0.2rem;
                    transition: .3s all ease-in-out;
                    a{
                        color: inherit;
                    }
                }
            }
        }
    }
    .course_item:hover{
        img{
            transform: scale(1.05);
        }
        .course_deatils_btn{
            opacity: 1;
            visibility: visible;
            right: 20px;
        }
    }
    .item-post{
        background: #ffffff;
        box-shadow: 0px 1px 2px #ccc;
        .item-pic{
            position: relative;
            &:after{
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                transition: all 0.5s ease;
                top: 0;
                opacity: 0;
            }
        }
        .item-body{
            padding: 10px 20px 0 20px;
            .item-title a{
                color: #262626;
                font-size: 17px;
                margin: 0 0 15px 0;
                font-weight: 500;
                line-height: 25px;
                transition: all 0.5s ease;
                padding-top: 15px;
            }
            .item-duration{
                padding-bottom: 15px;
                font-size: 16px;
                font-weight: 500;
                color: #000000;
                span{
                    float: right;
                    color: rgb(4, 196, 4);
                }
            }
        }
    }
    .item-post:hover{
        .item-pic{
            &:after{
                opacity: .2;
            }
        }
        .item-title a{
            color: rgb(83, 195, 240);
        }
    }
}