.education-training{
  .slider{
    
    .owl-item{
      img{
        width: 100% !important;
      }
    }
  }
  .sub-widgets{
    #eduSubMenu{
      cursor: pointer;
    }
    .activelink{
      color: white;
    }
    li{
      &:last-child{
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
    }
    .sub-widgets-sub{
      display: none;
      li{
       &:last-child{
         border-bottom: none;
       }
      }
    }
    
  }
  #overview{
    
    
    h1{
      font-family: "poppins";
    }

    .content-overview{
      padding: 30px;

      p{
        line-height: 30px;
        margin-bottom: 30px;
      }
      .event-slider-sec{
        margin-top: 40px;

        ul{
          border: 1px solid #364d75;
          border-radius: 5px;
          padding: 20px;
          li{
            line-height: 30px;
            list-style: none;
            padding: 10px 5px;
            cursor: pointer;

            img{
              float: left;
              width: 150px;
              padding: 10px;
            }
            .event-list-content{
              padding: 10px;
            }
            h3{
              color: #364d75;
            }
            span{
             
              color: #f00;
            }
            p{
              margin-bottom: 0px;
              line-height: 30px;
            }
          }
        }
       

      }
    }
 
  }
}


  .sectitle{
    font-weight: 700;
    margin-bottom: 30px;
  }
  .greentext {
    color: #8ad014;
    
  }
  .greentext:after {
    content: '';
    position: absolute;
    width: 52px;
    height: 3px;
    left: 16px;
    top: 30px;
    border-bottom: 4px solid;
  }
  .greytext{
    color: #555555;
  }
  p {
    
    font-size: 14px;
  }

.single_events {
  position: relative;
  box-shadow: 0 1px 2px #ccc;
  background: #ececec;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  .dateof_events {
    display: flex;
    .dates {
      list-style: none;
      padding: 8px;
      color: #fff;
      background: #8ad014;
      margin: 0;
      text-align: center;
      .dt {
        border-bottom: 1px solid;
        width: 28px;
        }
          


        }
        
  
  }
  .contentof_events {
    display: flex;
    align-items: center;
    margin-left: 25px;
    
    h2{
      font-size: 16px;
    }

    span{
      margin-right: 10px;

      .greenicon{
        color: #8ad014;
      }
      
    }
  }






}