#workshop-header{
  position: absolute;
  width: 100%;
  padding: 30px 0px;
  
  .workshop-brand{
    color: $color-white;
  }
  #workshop-menu{
    display: flex;
    .menu-item{
      flex: auto;
      list-style: none;
      display: inline-block;
      a{
        color: $color-white;
        font-weight: 400;
        
        &:hover{
          color: $theme-blue;
          padding: 10px 15px;
          background-color: $color-white;
          font-weight: bold;
        }
      }
    }
  }
}

#main-banner{
  position: relative;
  background-image: url(../img/workshop-banner.jpg);
  background-size: cover;
  height: 100vh;


  .workshop-details{
    background-color: $color-black;
    padding: 20px;
    opacity: .7;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 5%;
    h4{
      color: $color-white;
    }
    p{
      color: $color-white;
      line-height: 30px;
    }
  }
}

#overview{
  .text-heading{
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
  }
}

.credits{
  p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 1.42857143;
    color: #333;
  }
}
  

#cfaculty{
  .text-heading{
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
  }

  .faculty-list{
    position: relative;
  background-image: url(../img/faculty.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0px;

  .faculty-details{
    background-color: #044d4c;
    opacity: .9;
    padding: 10px;

    p{
      padding-top: 5px;
      margin: 0;
      padding-bottom: 0px;
      color: $color-white;
    }
  }
  }


}

#application{
  height: 50vh;
  .text-heading{
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
  }
}

#brochure{
  height: 50vh;
  .text-heading{
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
  }
  .downlode-bro{
    padding: 10px;
    background-color: #055051;
    color: $color-white;
  }
}

#contact{
  .text-heading{
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
  }
  button{
    cursor: pointer;
    background-color: #055051;
    color: $color-white;
    border-radius: none;
    padding: 10px 20px;
  }
}

.workshop_footer{ 
  margin-top: 30px;
  background-color: #1b1b1b;
  h6{
    text-align: center;
    padding: 50px 0px;
    color: $color-white;
  }
  .scrolltop{
    padding: 15px;
    background-color: aqua;
    position: fixed;
    bottom: 10%;
    right: 0;
    display: block;
    
    .fa-arrow-up{
      color: $color-white;
      font-size: 20px;
    }
  }
}



/* workshop new starts from here*/

.workshop-new{

  .wraper{
    width: 90%;
    margin: 60px auto;
  }
  .container-fluid{
    h2{
      text-align: center;
      margin: 20px 0 40px;
      &:before{
        content: "";
        position: absolute;
        left: 14%;
        width: 30%;
        height: 2px;
        background-color: #f80;
        margin-top: 13px;
        @include respond-below(xs) {
          width: 18%;
        }
      }
      &:after{
        content: "";
        position: absolute;
        right: 14%;
        width: 30%;
        height: 2px;
        background-color: #f80;
        margin-top: 13px;
        @include respond-below(xs) {
          width: 18%;
        }
      }
  
  
    }
  }
  nav{
    padding: 22px;
    .navbar-brand{
      .workshop-logo{
        width: 50px;
      }
    }
  }
  
.darkHeader{
  background-color: black;
  transition: all 1s linear;
}
.lighthead{
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 1s linear;
  
}

.mainslid{
  position: relative;
  background-image: url(../img/newbg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
 
  .overlayy {
    
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 6rem 0;
    .container{
      margin-top: 3rem;
      .btn-light{
        &:focus{
          box-shadow: none !important;
        }
      }
    }
    
  }
  
}

#ovrvw {
  
  
 

  .imgrightpart{
    img{
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}

#facultyy{
 
  .imgholder{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 4px #b5b5b5;
    
    /* &:hover .imgtext{
      width: 75%;
      padding: 10px 0px 10px 60px;

    } */

    img{
      width: 100%;
    }
    
    
  }
  .imgtext {
    
    background: rgba(20,30,27,0.5);
    color: white;
    padding: 10px 25px;
    
    
    h3{
      
      margin: 0;
      letter-spacing: 0.05em;
    }
    p{
      
      margin: 0;
      color: #e0e0e0;
    }
  }

  .withoutpic{
    margin: 20px 0 0 0;
    padding: 1rem;
    height: 120px;
    font-size: 14px;

    
  }
}

#orgcom{
  h2{
    text-align: center;
    margin: 20px 0 40px;
    &:before{
      content: "";
      position: absolute;
      left: 14%;
      width: 25%;
      height: 2px;
      background-color: #f80;
      margin-top: 13px;
      @include respond-below(xs) {
        width: 18%;
      }
    }
    &:after{
      content: "";
      position: absolute;
      right: 14%;
      width: 25%;
      height: 2px;
      background-color: #f80;
      margin-top: 13px;
      @include respond-below(xs) {
        width: 18%;
      }
    }


  }
  .carousel{
    background-color: #3e3e3e;
    .carousel-inner{
      .carousel-item{
        .card {
          max-width: 650px;
          margin: 60px auto;
          border: none;
          text-align: center;
          background-color: #3e3e3e;
          .card-avatar {
            max-width: 200px;
            max-height: 200px;
            margin: -50px auto 0;
            border-radius: 41%;
            margin-top: 0;
            overflow: hidden;
            padding: 0;
            box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
            a{
              img{
                width: 100%;
                height: auto;
              }
            }
          }
          .card-body{
            color: white;
            .card-description{

            }
            .card-title {
              color: white;
              text-decoration: none;
              margin-top: .625rem;
            }
          }
        }
       
      } 
    } 
  }
  .workshop-carousel{
    background-color: #383838;
    text-align: center;
    color: white;
    .item{
      margin: 30px 30px 0px;
      .img-container{
        margin-bottom: 10px;
      }
    }
  }



  .anotherdiv{
    .withoutpic{
      margin: 20px 0 0 0;
      padding: 1rem;
      height: 120px;
      font-size: 14px;
    }
  }
}

#session{
  .sub_title{
    color: #03998e;
  }

  .forpdf{
    text-align: center;
    .btn{
      cursor: pointer;
    }
  }
}

#accom{
  table{
    tr{
      border-top: 2px solid #e5e5e5;
      th{
        line-height: 2 !important;
        border: 2px solid #e9ecef;
      }
      td{
        border: 2px solid #e9ecef;
        line-height: 2 !important;
        padding: 0 0 0 20px !important;
      }
    }
  }
}

#shedule{
}

#register{
  h2{
    text-align: center;
    margin: 20px 0 40px;
    &:before{
      content: "";
      position: absolute;
      left: 13%;
      width: 30%;
      height: 2px;
      background-color: #f80;
      margin-top: 13px;
      @include respond-below(xs) {
        width: 18%;
      }
    }
    &:after{
      content: "";
      position: absolute;
      right: 13%;
      width: 30%;
      height: 2px;
      background-color: #f80;
      margin-top: 13px;
      @include respond-below(xs) {
        width: 18%;
      }
    }


  }
}

#regisform{
  width: 90%;
  margin: 60px auto;
  h2{
    text-align: center;
    margin: 20px 0 40px;
    &:before{
      content: "";
      position: absolute;
      left: 11%;
      width: 30%;
      height: 2px;
      background-color: #f80;
      margin-top: 13px;
      @include respond-below(xs) {
        width: 10%;
      }
    }
    &:after{
      content: "";
      position: absolute;
      right: 11%;
      width: 30%;
      height: 2px;
      background-color: #f80;
      margin-top: 13px;
      @include respond-below(xs) {
        width: 10%;
      }
    }


  }
}
#contc{
 

}

.work-footer{
  background-color: #524646;
  padding: 50px;
  color: white;
  text-align: center;
  .scrolltop {
    padding: 10px;
    background-color: #b7d0e0;
    position: fixed;
    right: 1%;
    bottom: 1%;
    display: none;
  }
  h6{
    margin: 0;
    padding: 0;
  }
}
}



// CSS for Single workshop page
.nav-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.work-banner{
  margin-top: 75px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 5rem 0;
  // margin-bottom: 1.5rem;
}
.bg-cover{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .8;
}
.banner-head{
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: $color-white;
  text-transform: capitalize;
  span{
    font-size: 2rem;
    text-transform: none;
  }
}
.banner-sub{
  margin-bottom: 1.5rem;
  color: $color-white;
  font-size: 1.25rem;
  font-weight: 300;
  span{
    display: block;
    text-transform: capitalize;
  }
}
.block-spacing{
  padding: 50px 0;
  // background: $color-lightgrey;
  // &:nth-child(odd){
  //   background: $color-white;
  // }
}
.section-title{
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
  &:before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #f80;
    margin-top: 13px;
    left: 14%;
    width: 27%;
  }
  &:after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #f80;
    margin-top: 13px;
    right: 14%;
    width: 27%;
  }
}
.greetings p {
  font-weight: 400;
  font-size: 15px;
  color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.feature-image-contain{
  img{
    padding: .5rem;
    background-color: #f8f9fa;
    border: 0 solid #dee2e6;
    border-radius: .375rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }
}

.facult-container{
  list-style-type: none;
  padding: 0;
  margin: 0;
  .faulty-list{
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    &:last-child{
      margin-bottom: 0;
    }
    .faculty-pic{
      flex: 0 0 150px;
      max-width: 15%;
      padding: 0 15px;
    }
    .faculty-info{
      flex: 0 0 85%;
      max-width: 85%;
      padding: 0 15px;
      p{
        font-size: 14px;
        color: #000;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        margin: 0;
        &.name{
          color: #03998e;
        }
      }
    }
  }
}
.sub_title{
  color: #03998e;
}
.sessions{
  display: flex;
  flex-wrap: wrap;
  .session-item{
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.carousel{
  .carousel-inner{
    .carousel-item{
      .card {
        max-width: 650px;
        margin: 60px auto;
        border: none;
      }
      .card-testimonial{
        text-align: center;
      }
      .card-plain{
        background: transparent;
        .card-avatar {
          max-width: 100px;
          max-height: 100px;
          margin-top: 0;
          margin: -50px auto 0;
          border-radius: 50%;
          overflow: hidden;
          padding: 0;
          box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
          a{
            img{
              width: 100%;
              height: auto;
            }
          }
        }
        .card-body{
          margin-top: 15px;
          padding: .9375rem 1.875rem;
          .card-title{
            margin: 30px 0 .75rem;
          }
        }
      }
    } 
  } 
}
.card-category{
  margin-top: 10px;
}
.text-muted{
  color: #6c757d!important;
}

.info{
  .info-icon{
    float: left;
    margin-right: 10px;
  }
  .description {
    margin-left: 25px;
  }
  .info-title{
    margin-top: 20px;
    margin: 1.75rem 0 .875rem;
  }
  p{
    font-size: 14px;
    margin: 0 0 10px;
  }
}

footer{
  .footer-credit{
    background: #333;
    padding: 20px 0;
    text-align: center;
    color:$color-white;
    p{
      margin: 0;
    }
  }
}
