.top-section{
    .titlebar{
        background: #222;
        font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
        padding: 60px 0;
        &_title{
            font-size: 36px;
            line-height: 41px;
            color: #fff;
            margin-top: 21px;
            margin-bottom: 10.5px;
        }
        &_headline{
            font-size: 20px;
            line-height: 27px;
            color: #fff;
        }
    }
}
.vertical_menu{
    .navigation{
        padding-left: 30px;
        .nav{
            .nav-item:first-child{
                margin: 0;
            }
        }
    }
}
.course__type{
    padding: 30px;
    .accordion{
        .card{
            border-radius: 0;
            margin-top: 3px;
            background: #f9f9f9;
            border: 1px solid #e8e9eb;
            .card-header{
                color: #505763;
                background: 0;
                border: none;
            }
            .card-body{
                .card-body_item {
                    display: flex;
                    padding: 12px 30px 12px 43px;
                    background-color: #fff;
                    border: 1px solid #e8e9eb;
                    border-top: none;
                    color: #686f7a;
                    letter-spacing: .3px;
                    line-height: 1.33;
                }
                .branch {
                    background: #007791;
                    color: #fff;
                }
                .left-content {
                    display: flex;
                    align-items: flex-start;
                    align-self: center;
                    font-weight: 600;
                    width: 50%;
                }
                .item-details{
                    .cover_item{
                        span{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
.project-enquiry{
    width: 100%;
    height: 40px;
    bottom: 0;
    background: #000;
    color: #fff;
    transition: color cubic-bezier(.39,.575,.565,1) ease-in-out;
    transition: width .5s ease-out;
    display: flex;
    align-items: center;
    .enquiry_text{
        text-align: center;
        margin: 0;
        a{
            color: #1b61c4;
            font-weight: 500;
        }
    }
}
.project{
    margin-bottom: 15px;
    .project_title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .project_details{
        padding-left: 15px;
        .project_{
            h4{
                color: #1b61c4;
            }
            p{
                text-indent: 2rem;
            }
            .guide{
                list-style-type: none;
                padding: 0;
                margin: 0;
                &_list{
                    span{
                        font-weight: 600;
                    }
                }
            }
            &apply{
                text-align: center;
            }
        }
    }
}