.vopps{
    cursor: pointer;
    span{
        color:#364d75;
    }
}
.vopps:hover{
    font-weight: 600;
    span{
        padding-right: 10px;
        @include transition($duration:4s); 
    }
}
.prg-sub-heading{
  span{
    font-style: oblique;
    font-weight: 400;
    padding-left: .5em;
  }
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align:center;
  }
  /* indicator position */
  #quote-carousel .carousel-indicators {
    top: auto;
    bottom: -10px;
  }
  /* indicator color */
  #quote-carousel .carousel-indicators li {
    background: #c0c0c0;
  }
  /* active indicator */
  #quote-carousel .carousel-indicators .active {
    background: #333333;
    height:10px;
    width:10px;
    margin-bottom:1px;
    
  }
  /* typography */
  .italic {
    font-style:italic;
  }
  .form-date{
    font-weight: 600;
    font-style: normal;
    margin: 0;
    span{
      padding-left: 10px;
      font-weight: 300;
    }
  }
  .popup-btn {
    position: relative;
    cursor: pointer;
}

.action {
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    z-index: 5;
    top: 40%;
    left: 15%;
    border-radius: 50%;
}

.action::before {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    animation: dot-ripple 5s linear infinite;
    font-family: "fontawesome";
    content: "\f128";
    font-size: 15px;
}

.box-action {
    background-color: #ffca00;
    border-radius: 20px;
    margin: 0 10px;
}

p.bold-head {
    transform: translate(45%, 180%);
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute; 
    text-transform: uppercase;
}
#accordion-faq{
  .card{
    border:unset;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: unset;
    .card-header{
      background: unset;
      color: #333;
      border: unset;
      .acc-head{
        padding: .375rem .75rem .375rem 0;
        span{
          svg{
            transition: all 0.5s ease-in;
          }
        }
      }
      .flip{
        span{
          svg{
            transform: rotate(180deg);
          }
        }
      }
    }
    .card-body{
      padding: 10px 4.8px;
    }
    .body_text{
      margin: 0;
    }
  }
}
.volunteer-btn{
  cursor: pointer;
  &:hover{
    color: #fff;
    background: #0c2c75;
  }
}
.project-container{
  position: relative;
  padding: 0 30px;
  img{
    box-shadow: 0 0 10px 1px #00000030;
  }
  .btn-container{
    position: absolute;
    bottom: 10%;
    left: 15%;
  }
}