$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-grey: #808080;
$color-grey-1: #E0E0E0;
$active-blue: #364d75;
$theme-blue: #644e81;
$monserat_font: 'Montserrat', sans-serif;
$lato_font: 'Lato', sans-serif;
$osans_font: 'Open Sans', sans-serif;
$oswald_font: 'Oswald', sans-serif;