 #aravind-news{
  background-color:rgb(44, 64, 151);
 }
 .aravind-news-header{
     background-color:rgb(44, 64, 151);
     padding: 10px 0px;
    .head-news-items{
      display: flex;
      align-items: center;
      width: 100%;
      .brand{
        flex: no-wrap;
        img{
          width: 300px;
        }
      }
    
      .brand-text{
        
      
        h1{
          text-align: right;
          padding-left: 50px;
          font-size: 50px;
          color: $color-white;
        }
        p{
          text-align: right;
          color: $color-white;
          font-weight: 500;
        }
      }
    }

    .news-quote{
      h3{
        margin: 10px 0px;
        color: $color-white;
      }
      p{
        font-size: 16px;
        border: 1px solid $color-white;
        padding: 5px;
        color: $color-white;
        span{
          display: block;
          font-weight: 500;
          text-align: right;
        }
      }
    }

    border-bottom: 1px solid $color-white;
  }

  .aravind-news-main{
    .news-intro{
      padding-top: 20px;
      .news-head{
        background-color: rgb(44, 64, 151);
        color: $color-white;
        border-bottom: 1px solid $color-white;
        ul{
          padding: 0;
          li{
            list-style: none;
            padding: 5px 0px;
            a{
              color: $color-white;
              font-weight: 400;

              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }

      .news-counter{
        margin-top: 20px;
        h3{
          color: $color-white;
        }
        p{
          color: $color-white;;
          font-size: 15px;
        }

        .news-archives{
          h3{
            cursor: pointer;
          }
          .news-select{

            select{
              padding: 8px 40px;
              display: block;
              width: 60%;
              margin: 5px 0px;
            }
          }
        }
      }

      .news-head-content{
        
        img{
          width: 100%;
          border-top: 1px solid $color-white;
          border-right: 1px solid $color-white;
          border-left: 1px solid $color-white;
        }

        .news-head-intro{
          padding: 30px 0px;
          border: 1px solid $color-white;
          padding: 10px;
          h6{
            color: $color-white;
          }
          p{
            color: $color-white;
          }
        }
      }
    }
  }