.main-about-us{
  #blog-section{
    padding: 30px;

    .blog1{

      .col-md-12{
        margin: 10px 0px;
      }
      p{
        font-size: 15px;
        line-height: 30px;
      }
      img{
        margin: 10px 0px;
        width: 100%;
      }
      .blog-intro{
        padding: 10px;

        span{
          display: block;
          text-align: right;
        }
      }
    }
    
  }
}
  

