.trust{
  &-title{
    color: #3396ff;
  }
  &-block{
    padding: 15px 0 0 0;
    border-bottom: 2px solid #ddd;
    .row{
      padding: 30px 0 0 0;
    }
    .board__cat{
      list-style-type: none;
      padding: 0;
      margin: 0;
      &_head{
        margin: 20px 0 10px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #000000;
        &:first-child{
          margin: 0 0 10px 0;
        }
      }
      a{
        display: table;
        padding: 5px 0 5px 0;
        opacity: .7;
        font-size: 15px;
        font-weight: 500;
        color: #000000;
        transition: all 50ms ease-out;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    &:last-child{
      border: none;
      padding: 15px 0 15px 0;
    }
  }
}