.main-about-us{
  #in-media{
    padding: 30px;
    background-color: $color-white;

    select{
      padding: 10px 40px;
      background-color: #8da4a4;
      color: $color-white;
      font-weight: bold;

      option{
        font-weight: 100;
      }
    }
   
    p{
      font-size: 15px;
      line-height: 30px;
    }
    .in-the-media{

      .col-md-12{
        margin-top: 20px;
      }

      h5{
        color: #b87777;
       }
      ul{
        padding: 0;
        li{
            list-style: none;
          h4{
            margin: 10px;
            padding-top: 10px;
            font-weight: 500;
            color: #507291;

            &:hover{
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .date{
            color: $color-grey;
          }
          .published-by{
            color: $color-red;
          }
          span{
            margin: 10px;
            text-align: left;
          }
        }
      }
    }
    .blog-archive{
      h4{
        text-align: right;
        display: block;
        border: 1px solid;
        padding: 5px;
      }
      h6{
        text-align: right;
        text-decoration: underline;
        color: red;
        cursor: pointer;
      }
      ul{
        margin: 10px 0px;
        li{
          text-align: right;
          margin: 5px 5px;
          cursor: pointer;

          &:hover{
            font-weight: bold;
            @include transition(font-weight .3s .2s);
          }
        }
      }
    }
    .pagination-list{
      margin-top: 40px;
      ul{
        padding: 0px;
        display: inline;
        li{
          list-style: none;
          display: inline;
          border: 1px solid #507291;
          padding: 8px 15px;
        }
        .activelink{
          color: $color-white;
        }
      }
    }

  }
}
  

