.main-about-us{
  #manage-team{
    padding: 30px;
    background: $color-white;


    .management-team{

      .col-md-4{
        display: flex;
      }
      .team-member{
        padding: 5px;
        margin-bottom: 15px;
        h3{
          padding-top: 10px;
        }
      }
    }
    p{
      font-size: 15px;
      line-height: 30px;
    }
  }
}
  

