.our-founder{
  background-image: url(../img/DrVWalk.jpg);
  background-position: center;
  background-size: cover;
  width: 100% !important;

  #our-founder-section{
    p{
      color: $color-white;
      line-height: 30px;
      font-size: 15px;
    }

    .our-founder-photos{
      position: relative;
      padding: 15px;

      .owl-carousel-thumb{
        .slide-item{
          background-color: #e1e1e1;
          opacity: 0.9;
          padding: 20px;
          img{
            width: 30%;
            float: left;
            margin: 20px 20px 60px 20px;
          }
          .text-block{
            margin: 20px 0px;
            h3{
              color: yellow;
            }
          }
        }

        .owl-controls{
          display: none !important;
        }
      }
      .owl-thumbs{
        position: absolute;
        bottom: 5%;
        left: 5%;
        text-align: center;
        button{
          border: 0px;
          padding: 0;
          width: 5%;
          margin: 5px;
        }
      }
    }
  }
}
.founder-slider{
  .carousel-item{
    height: unset;
  }
  .carousel-caption{
    top: 5%;
    left: unset;
    right: 6%;
    width: 40%;
    text-align: left;
    color: #000;
    p{
      color: #000000 !important;
    }
  }
}
.video-sect{
  h2{
    color: #fff;
  }
  .video-wrapper{
    position: relative;
    padding-top: 33.2857%;
    #seva-home-video{
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0;
      margin: 0 15%;
    }
  }
}