#about-section{
    .jumbotron{
        margin-bottom: 0;
        text-align: center;
        padding: 4rem 0;
        color: $color-white;
        h1{
            margin-bottom: 1rem;
        }
    }
    .page-sections{
        padding: 3rem 0;
    }
    .page-section{
        padding: 3rem 0;
        position: relative;
        &:before{
            content: "";
            z-index: 2;
            position: absolute;
            height: 30px;
            width: 30px;
            transform: rotate(45deg);
            background-color: inherit;
            margin-top: -15px;
            margin-left: -15px;
            top: 100%;
            left: 50%;
            border-left-width: 0;
            border-top-width: 0;
        }
    }
    .page-section:last-child{
        &:before{
            content: none;
        }
    }
    .milestone-odd{
        background-color: $color-grey-1;
        .container{
            .row{
                .col-lg-6{
                    h2{
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    .milestone-even{
        background-color: $color-white;
        .container{
            .row{
                .col-lg-6{
                    h2{
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    .page-sections, .other-page-section{
        padding: 3rem 0;
    }
    .milestones{
        padding: 10rem 0;
        .wrapper{
            .sample-headers{
                position: relative;
                overflow: hidden;
                padding: 0;
                margin: 0;
                background: $theme-blue;
                text-align: initial;
                overflow: initial;
                min-height: initial;
                &:before{
                    content: none;
                }
                .container{
                    .slide{
                        min-height: 300px;
                        &:before{
                            font-family: "fontawesome";
                            content: "\f060";
                            position: absolute;
                            top: 45%;
                            left: 10%;
                            font-size: 1.5rem;
                            color: $color-white;
                        }
                        &:after{
                            font-family: "fontawesome";
                            content: "\f061";
                            position: absolute;
                            top: 45%;
                            right: 10%;
                            font-size: 1.5rem;
                            color: $color-white;
                        }
                        hr{
                            border-color: #ffffff5e;
                        }
                    }
                }
            }
            .img-show{
                align-self: center;
                text-align: center;
                position: absolute;
                top: 96%;
            }
        }
    }
}