.founder3{
    background: url(../img/bg-image.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  .top-content{
    h2 {
    color: #f6c202 !important;
    }
    .firstof{
        list-style: none;
        display: flex;
        align-items: center;
        left: -3%;
        position: relative;
        li{
         display: inline-block;
         text-transform: uppercase;
         }
         .ourfhead{
         
             left: 0;
             color: #000;
             padding: 30px;
             /* background-color: #eacb03; */
             border: 1px solid #eacb03;
             border-radius: 50%;
             height: 150px;
             width: 150px;
             text-align: center;

                 p{
                     font-size: 22px;
                     line-height: 1.2;
                     margin-top: 20px;
                     letter-spacing: 8px;
                     span{
                         font-weight: 700;
                         font-size: 25px;
                         margin-left: -13px;
                         letter-spacing: 0px;
                     }
                 }
         
         }

         .linehead{
             
             p{
                 margin-left: 20px;
                 font-size: 40px;
                 color: #eacb03;
                 line-height: 1;
             }
         }
     }
     
     .secondof{
        list-style: none;
        display: flex;
        align-items: center;
        left: -3%;
        position: relative;
        margin: 40px 0;
        li{
            display: inline-block;
            color: #fff;
        }
        .leftcirc{
            height: 230px;
            width: 33.33%;
            position: relative;

                p{
                    font-size: 14px;
                    font-style: italic;
                    margin-top: 36px;                   
                    
                }
        
        }

        .rightp{
            width: 100%;
        }
        
     }     
    h3{
      color: #f6c202;
      text-transform: uppercase;
      margin-bottom: 2rem;
      letter-spacing: .2px;
      font-size: 28px;
    }
    p{
      color: #fff;
    }
    .carousel{
      background: #343a40;
      img {
        width: 40%;
        clip-path: polygon(0 0, 95% 0%, 70% 100%, 0% 100%);
      }
      h2, p{
        color: #f6c202 !important;
      }
      p{
        font-size: 18px;
        line-height: 1.5;
      }
      
    }
  }
  .video-sect{
    h3{
      color: #f6c202;
      text-transform: uppercase;
      letter-spacing: .2px;
      margin-bottom: 2rem;
      font-size: 28px;
    }
  }
}