#slider-sect{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#slider-sect .slider {
  width: 100%;
}
.slides {
  background: #ccc;
}
.slide {
  display: flex !important;
  justify-content: center;
  align-items: baseline;
  background: #fff;
  height: 500px;
  outline: 0 !important;
  color: #ccc;
  font-size: 40px;
}
.controls {
  display: flex;
  width: 100%;
}
.captions {
  flex: 1;
  width: 100px;
  padding: 10px;
  font-size: 19px;
  margin-top: 2px;
  color: #ffffff;
  background: darkgrey;
  text-align: center;
}
.caption {
  outline: 0 !important;
}
