#eye_surgery {
    .gallery {
        display: flex;
		flex-wrap: wrap;
		margin-bottom: 1rem;
        .img-w {
			position: relative;
            flex: 1 0 15rem;
            margin: 0.5rem;
			overflow: hidden;
			a{
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: transform 400ms ease-out;
				}
				.img-overlay{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					background: #00000021;
					h4{
						text-align: center;
						color: #fff;
						position: relative;
						top: 45%;
					}
				}
			}
			&:hover{
				a{
					img{
						transform: scale(1.15);
					}
				}
			}
        }
    }
}
@supports (display: grid) {
    #eye_surgery {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
			grid-gap: 0.5rem;
			margin-bottom: 1rem;
            .img-w {
                margin: 0;
            }
        }
    }
}
#gallery{
	.lightbox {
		display: none;
		position: fixed;
		z-index: 9999;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.85);
	}
	
	.lightbox a { 
		color: #fff;
		text-decoration: none; 
	}
	
	.lightbox img {
		max-height: 85%;
		max-width: 85%;
	}
	
	.lightbox:target {
		display: table;
	}
	
	.lightbox .image {
		display: table-cell;
		vertical-align: middle; 
	}
	
	.lightbox .image img {
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); 
	}
	
	.next, .prev, .close { 
		display: block;
		position: fixed; 
	}
	
	.close { 
		width: 5000px; 
		height: 5000px; 
		overflow: hidden; 
		top: 0; 
		left: 0; 
		z-index: 5; 
		cursor: default; 
	}
	
	.next, .prev {
		width: 100px; 
		height: 25px; 
		top: 50%; 
		z-index: 10;
		opacity: 0.7; 
		font-size: 2em; 
		line-height: 25px; 
		text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	}
	
	.prev { 
		left: 10px; 
		text-align: left; 
	}
	
	.prev::after { 
		content: '\2039';
	}
		
	.next { 
		right: 10px;
		text-align: right;
	}
	
	.next::before {
		content: '\203A';
	}
}

.video_img{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	.container-image{
		flex: 1 0 20rem;
		overflow: hidden;
		margin: 0.5rem;
		position: relative;
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			cursor: pointer;
		}
		.img-overlay{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			.text-overlay{
				position: relative;
				width: 100%;
				height: 100%;
				a{
					h3{
						position: absolute;
						width: 100%;
						background: #032b67;
						padding: 10px;
						text-align: center;
						color: #fff;
						margin: 0;
						bottom: 0;
						transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
					}
				}
			}
		}
		&:hover{
			.img-overlay{
				.text-overlay{
					a{
						h3{
							bottom: 45%;
						}
					}
				}
			}
		}
	}
}

