#treatment{
    .disease{
        background: #222;
        font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
        padding: 60px 0;
        &_title{
            font-size: 36px;
            line-height: 41px;
            color: #fff;
            margin-top: 21px;
            margin-bottom: 10.5px;
        }
        &_headline{
            font-size: 20px;
            line-height: 27px;
            color: #fff;
        }
    }
    #treatment-menu{
        padding-left: 30px;
        .nav{
            padding: 0;
            .nav-item{
                margin-left: .9rem;
                .nav-link{
                    font-size: 16px;
                    color: #888;
                    border-bottom: 3px solid transparent;
                    padding-bottom: 7px;
                    transition: 0.2s all ease-in-out;
                }
                .active-list, .nav-link:hover{
                    color: #363636;
                    border-bottom-color:#0078bf;
                }
                .active-list{
                    &:hover{
                        background: transparent;
                    }
                }
            }
            .nav-item:first-child{
                margin: 0;
            }
        }
    }
    .image-container {
        margin-bottom: 10px;
        float: right;
        img{
            padding-left: 10px;
        }
    }
    ul{
        padding-left: 1rem;
        margin: 0;
    }
}
