#treatment{
    .disease{
        background: #222;
        font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
        padding: 60px 0;
        &_title{
            font-size: 36px;
            line-height: 41px;
            color: #fff;
            margin-top: 21px;
            margin-bottom: 10.5px;
        }
        &_headline{
            font-size: 20px;
            line-height: 27px;
            color: #fff;
        }
    }
    input[type=search]{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    #treatment-menu{
        padding-left: 30px;
        .nav{
            padding: 0;
            .nav-item{
                margin-left: .9rem;
                .nav-link{
                    font-size: 16px;
                    color: #888;
                    border-bottom: 3px solid transparent;
                    padding-bottom: 7px;
                    transition: 0.2s all ease-in-out;
                }
                .active-list, .nav-link:hover{
                    color: #363636;
                    border-bottom-color:#0078bf;
                }
                .active-list{
                    &:hover{
                        background: transparent;
                    }
                }
            }
            .nav-item:first-child{
                margin: 0;
            }
        }
    }
    .image-container {
        margin-bottom: 10px;
        float: right;
        img{
            padding-left: 10px;
        }
    }
    ul{
        padding-left: 1rem;
        margin: 0;
    }
    .disease_category{
        .list{
            list-style: none;
            padding: 0;
            margin: 0;
            .item{
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            &-child{
                list-style: none;
                margin-bottom: 5px;
                li{
                    font-size: 15px;
                    font-weight: 400;
                    color: #888;
                }
            }
        }
    }
}
.persons{
    cursor: pointer;
}
#Layer_1{
    border-bottom: 2px solid;
    border-bottom-style: dotted;
}
.activate{
    transform: translateY(-3%);
}
.disease_container{
    background: lightgray;
    padding: 30px;
    margin-bottom: 15px;
    .d_title{
        text-align: center;
    }
}
.three_panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.panel {
    width: 33%;
    padding: 10px;
    margin: 5px 0 5px 0;
    p{
        margin: 0;
        text-align: center;
        a{
            font-size: unset;
        }
    }
}
@media only screen and (max-width: 740px) {
    .panel {
        width: 50%;
    }
}
@media only screen and (max-width: 450px) {
    .panel {
        width: 100%;
    }
}