.side_nav {
    margin-bottom: 15px;
    min-height: 150px;
    border-radius: 5px;
    font-size: 3rem;
    display: flex;
    padding: 15px;
    div{
        display: flex;
        align-items: center;
        .svg-inline--fa{
            color: #374d75;
        }
        p{
            margin-left: 15px;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 600;
            a:hover{
                color: #374d76;
            }
        }
    }
}