.book-details {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
}
.archive-magazines{
    padding: 15px 0;
}
.subscribe-modal{
    .modal-content{
        border: none !important;
        overflow: hidden;
        .modal-body{
            padding: 0 !important;
            .two-section {
                display: grid;
                grid-template-columns: 25% auto;
            }
            .icon-container{
                background: #0098ec;
                align-items: center;

            }
        }
    }
}