.book-details {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
}
.archive-magazines{
    padding: 15px 0;
}
.box-overlay {
    right: 0;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
}