#slider-sect{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 100%;
  }
  .slides {
    background: #ccc;
  }
  .slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 350px;
    outline: 0 !important;
    color: #ccc;
    font-size: 40px;
  }
  .controls {
    display: flex;
    width: 100%;
  }
  .captions {
    flex: 1;
    width: 100px;
    padding: 10px;
    margin-top: 2px;
    color: #7b7b7b;
    background: #fff;
  }
  .caption {
    outline: 0 !important;
  }
  .pagination {
    display: flex;
    margin-top: 2px;
  }
  .pagination__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background: #fff;
    width: 40px;
    height: 40px;
    margin-left: 2px;
  }
  .pagination__button:hover {
    color: #fff;
    background: #2aa1c0;
  }
  .pagination__button.slick-disabled {
    cursor: not-allowed;
    background: #ccc;
    color: #fff;
  }
  