#boxes{
    .fig_contain{
        position: relative;
        list-style: none;
        text-align: center;
        figure{
            position: relative;
            overflow: hidden;
            margin: 10px 1%;
            height: auto;
            cursor: pointer;
        }
        .effects{
            background: #374d75;
            img{
                position: relative;
                display: block;
                min-height: 100%;
                width: 100%;
                opacity: 0.8;
                backface-visibility: hidden;
            }
            img, h2{
                transition: transform 0.35s;
            }
            figcaption{
                padding: 2em;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.25em;
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
            }
            ul, h2{
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 30px;
            }
            ul {
                text-transform: none;
                list-style: none;
                margin: 0;
                font-size: 90%;
                opacity: 0;
                transition: opacity 0.35s, transform 0.35s;
                transform: translate3d(0,50px,0);
                li{
                    p{
                        margin: 0.2rem;
                        text-align: left;
                        a{
                            color: #ffffff;
                        }
                        a:hover{
                            font-weight: 600;
                            color: #ffffff;
                        }
                    }
                }
                
            }
        }
        .effects:hover{
            img{
                transform: translate3d(0,-150px,0);
            }
            h2{
                transform: translate3d(0,-170px,0);
            }
            ul{
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }
}

#slider-sect{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .slider {
        width: 100%;

        .controls {
            display: flex;
            width: 100%;

            .captions {
                flex: 1;
                width: 100px;
                padding: 10px;
                font-size: 19px;
                margin-top: 2px;
                @include respond-below(xs) {
                    margin-top: 0px;
                  }
                color: #ffffff;
                background: darkgrey;
                text-align: center;
            
                .caption {
                    outline: 0 !important;
                  }
              }
          }
        .slides {
            background: #ccc;
        
            .slide {
                display: flex !important;
                justify-content: center;
                align-items: baseline;
                background: #fff;
                height: 500px;
                @include respond-below(xs) {
                    height: auto;
                  }
                outline: 0 !important;
                color: #ccc;
                font-size: 40px;
              }
          }
      }
  }
  
  
  
/*   @media only screen and (max-width: 568px){
 
      #slider-sect .slider .slides .slide{
        height: auto;
      }

      #slider-sect .slider .controls .captions{
          margin-top: 0px;
      }
  } */
  
  
  