.research-topics{
    margin-top: 30px;
}
.research{
    margin-bottom: 1rem;
    .card-plain{
        background: transparent;
        box-shadow: none;
        border: none;
        text-align: center;
        .card-body{
            padding: 0;
        }
    }
}
.card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    border-radius: 6px;
}
.card .card-header.card-header-image img {
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}
.card .card-title{
    color: #3c4858;
    text-decoration: none;
    margin-top: .625rem;
}
.project-details{
    padding: 1.2rem 0 0;
}
.single-project{
    margin-bottom: 30px;
    &:last-child{
        margin: 0;
    }
}